[core]
	editor = code --wait

[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s

[diff]
	tool = vscode

[difftool]
	prompt = false

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
