[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s
	g = grep --break --heading --line-number
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

[branch]
	sort = -committerdate

[core]
	editor = code --wait

[diff]
	tool = vscode
	colorMoved = true

[difftool]
	prompt = false

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
	prune = true

[grep]
	extendRegexp = true
	lineNumber = true

[rebase]
	autosquash = true

[rerere]
	enabled = true
	autoUpdate = true

[user]
	useConfigOnly = true
